<ion-view title="Areas">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/0cv4xo2SdeQr7mKNtbKg_PlainBG.fw.png) no-repeat center;" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 80px;"></div>
        <a ui-sref="area1" id="areas-button17" style="font-weight:lighter;border-radius:30px 30px 30px 30px;" class="button button-positive  button-block">Area 1</a>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <a ui-sref="area2" id="areas-button18" style="font-weight:lighter;border-radius:30px 30px 30px 30px;" class="button button-positive  button-block">Area 2</a>
    </ion-content>
</ion-view>