<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/0cv4xo2SdeQr7mKNtbKg_PlainBG.fw.png) no-repeat center;" scroll="false" class="has-no-header">
        <form class="list"></form>
        <form class="list">
            <div class="spacer" style="width: 300px; height: 48px;"></div>
            <label class="item item-select" name="area">
                <span class="input-label">Choose the Area</span>
                <select></select>
            </label>
            <div class="spacer" style="width: 300px; height: 34px;"></div>
        </form>
        <a ui-sref="selectedArea" id="areas-button31" style="border-radius:30px 30px 30px 30px;" class="button button-positive  button-block">Find Spot!</a>
    </ion-content>
</ion-view>