<ion-view title="General - Area 2">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/Lzab2j1PSx6MUuR2lnm8_PlainBG.fw.png) no-repeat center;" scroll="false" class="has-header">
        <div class="list card">
            <div class="item item-body">
                <div>
                    <center>
                        <p></p>
                        <h1>We found you a spot!</h1>
                        <p></p>

                        <p>Go and park in
                            <b>Area 1</b>. Your spot will be freed in a minute
                            <u>if you do not use it!</u>
                        </p>
                    </center>
                </div>
                <div class="spacer" style="width: 268px; height: 44px;"></div>
                <a ui-sref="areas" id="generalArea2-button12" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Pick Other Area</a>
            </div>
        </div>
    </ion-content>
</ion-view>