<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/Lzab2j1PSx6MUuR2lnm8_PlainBG.fw.png) no-repeat center;" scroll="false" class="has-no-header">
        <div class="list card">
            <div class="item item-body">
                <div style="text-align:center;">
                    <img src="img/TmI7cTYWSJ2Vm7Lt3JXl_256-256-89fdce5084dbe77556cf99f7b22ae7e8-pin.png" width="50" height="auto">
                </div>
                <div>
                    <center>
                        <p></p>
                        <h1>We found you a spot!</h1>
                        <p></p>

                        <p>Go and park in
                            <font color="blue">
                                <b>Area A</b>
                            </font>. Your spot will be freed in a minute
                            <u>if you do not use it!</u>
                        </p>
                    </center>
                </div>
                <div class="spacer" style="width: 268px; height: 44px;"></div>
                <a ui-sref="areas" id="general-button9" style="border-radius:0px 0px 0px 0px;" class="button button-balanced  button-block">Pick Other Area</a>
            </div>
        </div>
    </ion-content>
</ion-view>