<ion-view title="Home">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/A0GFj2rcQd2Fs3Sas7Yi_PlainBG.fw.png) no-repeat center;" scroll="false" class="has-header">
        <div class="spacer" style="width: 300px; height: 39px;"></div>
        <div style="text-align:center;">
            <img src="img/tF8GO4crRruHGOIPBttj_AppIcon1.fw.png" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 300px; height: 39px;"></div>
        <a ui-sref="areas" id="home-button1" style="font-weight:lighter;border-radius:30px 30px 30px 30px;" class="button button-positive  button-block">Get Me A Spot!</a>
    </ion-content>
</ion-view>