<ion-view hide-nav-bar="true">
    <ion-content overflow-scroll="true" padding="true" style="background: url(img/0cv4xo2SdeQr7mKNtbKg_PlainBG.fw.png) no-repeat center;" scroll="false" class="has-no-header">
        <div class="spacer" style="width: 300px; height: 80px;"></div>
        <a ui-sref="general" id="selectedArea-button5" style="font-weight:lighter;border-radius:30px 30px 30px 30px;" class="button button-positive  button-block">General</a>
        <div class="spacer" style="width: 300px; height: 18px;"></div>
        <a ui-sref="handicap" id="selectedArea-button7" style="font-weight:lighter;border-radius:30px 30px 30px 30px;" class="button button-positive  button-block">Handicap</a>
        <div class="spacer" style="height: 100px;"></div>
        <a ui-sref="areas" id="selectedArea-button10" style="border-radius:50px 50px 50px 50px;" class="button button-balanced  button-outline icon ion-ios-arrow-back"></a>
    </ion-content>
</ion-view>